.navbar {
    background: rgb(22, 19, 19);
    width: 100%;
   // padding: 15px;
    overflow: hidden;
}

.navbar__container {
    display: flex;
   // width: 100%;

    .navbar_nav {
        display: flex;
        width: 100%;
        justify-content: space-around;

        .navbar__logo{
            width: 60px;
        }

       .navbar__link{
           text-decoration: none;
           color: #fff;
           font-weight: 500;
           text-transform: uppercase;
           margin-left: 18px;
           transition: 1s ease;
          line-height: 3;

           &:hover{
               color: goldenrod;
           }
       }
    }
}