.section-3{
    width: 100%;
    height: 100vh;
    background: url(../img/bg-section3.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:450px) {
        height: 75vh;
    }


.section-container {
 
    width: 40%;
    border: 6px solid goldenrod;
    padding: 15px;
    text-align: center;

    @media screen and (max-width:450px) {
       width: 100%;
       padding: 0;
        letter-spacing: 5px;
        font-weight: 200;
    }

    h1{
        font-size: 55px;
        color: #fff;
        text-transform: capitalize;

        @media screen and (max-width:450px) {
           font-size: 45px;
        }
    }

    .text {
        color: #fff;
        font-size: 30px;
    }
}
}